.header{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    font-size: 40px;
    color: white;
    background: blue;
}

.search-head{
     font-size: 35px;
     padding-bottom: 20px;
}


.side-container{
    float:left;
    width:20%;
    display:flex;
    flex-direction: column;
    padding-left: 10px;
    padding-top:10px;
    padding-bottom: 10px;
}

.search-container{
    border-bottom: 5px solid grey;
    border-radius: 2px;
    width: 300px;
    padding-bottom: 10px;
}

.search-input{
    width:300px;
    height:40px;
    border-radius: 6px;
    margin-bottom: 10px;
    
}




.searchBtn{
    background: #436EEE;
    cursor: pointer;
    border-radius: 6px;
    border:none;
    width:300px;
    height:30px;
    color:white;
}

.today{
    font-size:40px;
    padding-bottom: 20px;

}

.today-container{
    border: solid 1px black;
    float:left;
    width:75%;
    height: 50%;
    margin-top: 10px;
    padding:10px;
}

.forecast-container{
    display:flex;
    /* border: solid 1px black; */
    float:left;
    width:75%;
    height: 50%;
    margin-top: 10px;
    /* padding:10px; */
    margin-left: 20%;

}

.forecast-header{
    display:flex;
    /* border: solid 1px black; */
    float:left;
    width:75%;
    height: 50%;
    margin-top: 10px;
    margin-left: 20%;
    padding-top: 10px;

}

.forecast{
    display:flex;
    font-size:30px;
    padding-bottom: 20px;
}

.forecast-info{
    justify-content: space-between;;
    width:20%;
    background-color:#27445C;
    border: 1px solid grey;
    color: white;
    padding-left: 10px;
    padding-top: 10px;
    
    
}

.forecast-date{
    font-size: 25px;
    font-weight: bolder;
}

.recentBtn{
    background: grey;
    cursor: pointer;
    border-radius: 6px;
    border:none;
    width:300px;
    height:30px;
    color:white;
    margin-top: 10px;
}



ul li {
    padding-bottom: 30px;
   
}

.searchBtn:hover{
    background-color: #5993E5
}

.searchBtn:active{
    background-color: #adbce6;
    transform: translateY(3px);
}

.recentBtn:hover{
    background-color: #C0C0C0
}

.recentBtn:active{
    background-color: #adbce6;
    transform: translateY(3px);
}

